<!-- <body class="" style="background-color: brown;">
    <ul class="">
        <button routerLink="/testing-employees" routerLinkActive="active" class="btn btn-primary ms-1 nav-link">Hello</button>
        <button type="button" (click)="MeowButton()" class="btn btn-primary ms-1">Cat</button>
    </ul>
</body> -->

<carousel>
    <slide style="height: 500px;">
      <img src="./assets/horse.png" alt="first slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </slide>
    <slide style="height: 500px;">
      <img src="./assets/pug.jpg" alt="second slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </slide>
    <slide style="height: 500px;">
      <img src="./assets/rabbitFish.png" alt="third slide" style="display: block; width: 100%;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </slide>
  </carousel>

<ul class="mt-3" style="background-color: blue; width: 100%;">
    <input class="ms-5" type="text" placeholder="Type here">
    <button class="btn btn-primary ms-1" type="submit">Enter</button>
</ul>


