<!--These are headers-------------------------------------------------------------------------------------------------->
<h1 class="text-center">This is h1 in the middle of the page</h1>
<h2>This is h2</h2>
<h3>This is h3</h3>



<!--These are paragraphs with different elements in them------------------------------------------------------------->
<p>This is a paragraph</p>
<p>This part is <mark>Highlighted</mark></p>
<p>This part is <u>Underlined</u></p>
<p>This part is <small>Small</small></p>
<p>This part is <strong>Bold</strong></p>
<p>This part is <em>Slanted</em></p>
<p class="text-uppercase">This part is in all capitals</p>
<p class="text-truncate" style="width: 200px;">This part is in truncated which means </p>
<div>
    <span class="align-baseline">This is aligned at the base. </span>
    <span class="align-top">This is aligned at the top. </span>
    <span class="align-middle">This is aligned at the middle. </span>
    <span class="align-bottom">This is aligned at the bottom.</span>
</div>



<!--These are paragraphs with different class elements in them------------------------------------------------------->
<p class="text-muted">This text is faded</p>
<p class="h1">This is the same as h1</p>
<p class="display-1">This is a display 1</p>
<p class="display-2">This is a display 2</p>



<!--these are paragraphs with different styles----------------------------------------------------------------------->
<p style="background-color: rgb(250, 172, 245);">This has a background</p>



<!--This is an unordered list with another unordered list inside of it----------------------------------------------->
<ul>
    <li>List item 1</li>
    <li>List item 2</li>
    <ul>
        <li>This is a list inside a list</li>
        <li class="list-inline-item">It can also be put on the same line</li>
        <li class="list-inline-item">Using this</li>
    </ul>
</ul>



<!--This is a description list---------------------------------------------------------------------------------------->
<dl class="row">
    <dt class="col-sm-3">This is the header</dt>
    <dd class="col sm 5">This is the description</dd>
</dl>



<!--These are images------------------------------------------------------------------------------------------------->
<img src="/assets/horse.png" alt="Horse image" class="img-fluid" style="height: 200px; width: 200px;">
<img src="/assets/horse.png" alt="Horse image" class="img-thumbnail" style="height: 200px; width: 200px;">
<img src="/assets/horse.png" alt="Horse image" class="rounded" style="height: 200px; width: 200px;">
<p></p>

<!--This is a figure with a caption beneath it------------------------------------------------------------------>
<figure class="figure">
    <img src="/assets/horse.png" alt="Horse image" class="img-fluid" style="height: 200px; width: 200px;">
    <figcaption class="figure-caption">A Caption for this image</figcaption>
</figure>



<!--This is a table which has borders, stripes, a caption and changes when hovered over------------------------------>
<table class="table table-bordered table-striped table-hover mt-5">
    <caption>This is a caption</caption>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Second</th>
            <th scope="col">Third</th>
            <th scope="col">Fourth</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Kieran</td>
            <td colspan="2">John</td>
            <td>Franklin-bailey</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jorja</td>
            <td>Lily</td>
            <td>Plested</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Vex</td>
            <td>FN-T3DDY</td>
            <td>Grim</td>
            <td>Cucumber</td>
        </tr>
    </tbody>
</table>

<!--This table is bordered, in dark mode, and is small------------------------------------------------------------------>
<table class="table table-bordered table-dark table-sm mt-5">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Second</th>
            <th scope="col">Third</th>
            <th scope="col">Fourth</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Kieran</td>
            <td colspan="2">John</td>
            <td>Franklin-bailey</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jorja</td>
            <td>Lily</td>
            <td>Plested</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Vex</td>
            <td>FN-T3DDY</td>
            <td>Grim</td>
            <td>Cucumber</td>
        </tr>
    </tbody>
</table>

<!--This table is used to show the different type of class colours--------------------------------------------------->
<table class="table table-bordered table.sm mt-5">
    <thead>
        <tr>
            <th scope="col">Class</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-primary">
            <th scope="row">Primary</th>
        </tr>
        <tr class="table-secondary">
            <th scope="row">Secondary</th>
        </tr>
        <tr class="table-success">
            <th scope="row">Success</th>
        </tr>
        <tr class="table-danger">
            <th scope="row">Danger</th>
        </tr>
        <tr class="table-warning">
            <th scope="row">Warning</th>
        </tr>
        <tr class="table-info">
            <th scope="row">Info</th>
        </tr>
        <tr class="table-light">
            <th scope="row">Light</th>
        </tr>
        <tr class="table-dark">
            <th scope="row">Dark</th>
        </tr>
    </tbody>
</table>
