<!-- <p>test-employee works!</p>

<accordion [isAnimated]="true">
    <accordion-group heading="Static Header">
      This content is straight in the template.
    </accordion-group>
    <accordion-group heading="Another group">
      <p>Some content</p>
    </accordion-group>
    <accordion-group heading="Another group">
      <p>Some content</p>
    </accordion-group>
    <accordion-group heading="Another group">
      <p>Some content</p>
    </accordion-group>
  </accordion>

  <dl class="row">
    <dt class="col-sm-3">Hello</dt>
    <dd class="col-sm-9"> this is cool</dd>
  </dl> -->


<!-- <div class="off-screen-menu">
  <ul>
    <li>home</li>
    <li>contact</li>
    <li>about</li>
  </ul>
</div>

<nav>
  <div class="ham-menu">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav> -->

<html>
  <body>
    <div class="header"></div>
    <input type="checkbox" name="" id="Open">
    <img src="/assets/menu-burger.png" alt="Burger menu icon" id="Open" class= "hideBurgerIMG sidebarIcon">
    <img src="/assets/cross.png" alt="Cross icon" id="Open" class= "hideCrossIMG sidebarIcon">
    <a href="#" class="sidebarIcon" style="left: 130px; color: white; text-decoration: none;">Logo</a>
    <label for="Open" class="sidebarIcon"></label>
    <div id="sidebarMenu">
      <ul class="menu">
        <li ><a href="#">My campaigns</a></li>
        <li><a href="#">My tasks</a></li>
        <li><a href="#">Media configuration</a></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Stepbuilder</a></li>
        <li><a href="#">Template</a></li> 
      </ul>
    </div>
    <div class="main">
      <img type="button" src="/assets/edit.png" alt="edit button" tooltip="Edit button" style="width: 25px; height: 25px;">
      <h1>Sidebar Hamburger Toggle manu</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime earum hic, perspiciatis voluptates et distinctio
        cum quasi itaque eum atque, eius assumenda minima? Quod illum dolore aspernatur magnam enim nobis?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime earum hic, perspiciatis voluptates et distinctio
        cum quasi itaque eum atque, eius assumenda minima? Quod illum dolore aspernatur magnam enim nobis?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime earum hic, perspiciatis voluptates et distinctio
        cum quasi itaque eum atque, eius assumenda minima? Quod illum dolore aspernatur magnam enim nobis?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime earum hic, perspiciatis voluptates et distinctio
        cum quasi itaque eum atque, eius assumenda minima? Quod illum dolore aspernatur magnam enim nobis?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime earum hic, perspiciatis voluptates et distinctio
        cum quasi itaque eum atque, eius assumenda minima? Quod illum dolore aspernatur magnam enim nobis?
      </p>
    </div>
  </body>
</html>
