<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Dating App</a>

      
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          @if (accountService.currentUser()){  <!-- only shows when the user is logged in -->
            <li class="nav-item">
              <a routerLink="/members" routerLinkActive="active" class="nav-link">Matches</a>  <!-- router link changes the pages path and allows the app.routs.ts to work -->
            </li>
            <li class="nav-item">
              <a routerLink="/lists" routerLinkActive="active" class="nav-link">Lists</a>  <!-- routerLinkActive means if the path is being used it turns the button bold -->
            </li>
            <li class="nav-item">
              <a routerLink="/messages" routerLinkActive="active" class="nav-link">Messages</a>
            </li>
          } 
          <li class="nav-item">
            <a routerLink="/errors" routerLinkActive="active" class="nav-link">Errors</a>
          </li>
        </ul>

      @if (accountService.currentUser()){  <!-- currentUser is from accountService -->
        <div dropdown class="dropdown">
          <img class="me-2" src="{{accountService.currentUser()?.photoUrl || './assets/user.png'}}" alt="user main image">
          <a dropdownToggle class="dropdown-toggle text-light text-decoration-none">Welcome {{accountService.currentUser()?.knownAs}}</a>
          <div *dropdownMenu class="dropdown-menu">
            <a routerLink="/member/edit" class="dropdown-item">Edit profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"(click)="logout()">Logout</a> <!-- this calls a logout function in nav.component.css when its clicked -->
          </div>
        </div>
      }

      @if (!accountService.currentUser()){
        <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex" autocomplete="off"> <!-- the forms name is #loginform -->
          <input name="username" [(ngModel)]="model.username" class="form-control me-2" placeholder="Username"> <!-- [(ngModel)] is two way binding so it can recieve and send data from the component --> 
          <input name="password" [(ngModel)]="model.password" class="form-control me-2" placeholder="Password" type="password">
          <button class="btn btn-success" type="submit">Login</button>
        </form>
      }               <!-- This login works by calling the login function in nav.component.ts which then calls the login function in account.service.ts which then saves
                           the username to local storage if its correct so if the page is refreshed it remembers it -->
      </div>
  </nav>
