<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Dating App</a>

      
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a routerLink="/testing-employees" routerLinkActive="active" class="nav-link">Matches</a>  <!-- router link changes the pages path and allows the app.routs.ts to work -->
            </li>
            <li class="nav-item">
              <a routerLink="/testing" routerLinkActive="active" class="nav-link">Lists</a>  <!-- routerLinkActive means if the path is being used it turns the button bold -->
            </li>
            <li class="nav-item">
              <a routerLink="/messages" routerLinkActive="active" class="nav-link">Messages</a>
            </li>
            <li *appHasRole="['Admin', 'Moderator']" class="nav-item">
              <a routerLink="/admin" routerLinkActive="active" class="nav-link">Admin</a>
            </li>
            <li class="nav-item">
              <a routerLink="/testing" routerLinkActive="active" class="nav-link">Testing</a>
            </li>
          <li class="nav-item">
            <a routerLink="/errors" routerLinkActive="active" class="nav-link">Errors</a>
          </li>
        </ul>
    </div>
</nav>

